/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


/* Body */
body#main-body{
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: rgba(245, 245, 245, 0.945);
}

/* Fonts only for h1 and h3 */
h1, h3{
    font-family: "Roboto Slab", serif;
}

/* nav section styles */
nav{
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid black;
    background-color: #FFC100;
}

nav > a{
    text-decoration: none;
    padding: 8px;
    font-size: 22px;
    color: black;
}

/* img taking 100% of the screen hight auto */
header > img{
    width: 100%;
    
}

header > p{
   margin-top: 5px;
   padding-left: 20px;
   padding-right: 20px;
}

header > h3{
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 5px;
   font-weight: 800;
}

/* Title(recipes) marking the beggining of the main subject in the page */
.recipe-title{
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 55vw;
    align-self: center;
    background-color: #FFC100;
}

.recipe-title > h1{
    margin: 12px;
}

hr{
   margin-right: 15px;
   margin-left: 15px;
}

/* Recipes styles */
.main-recipes-div{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   margin-right: 15px;
}

/* img style */
.main-recipes-div > img{
   height: 380px;
   margin-top: 15px;
}

.main-recipes-div > a{
   align-self: center;
   text-decoration: none;
   padding: 10px;
   border: 2px solid black;
   border-radius: 8px;
   font-weight: 700;
   color: rgb(66, 66, 66)
}

.main-recipes-div > a:hover{
   transform: translate(0px, -3px);
   transition: transform .4s;
}

/* Footer/Contact */
footer{
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: rgba(32, 114, 87, 0.678);
   padding-bottom: 20px;
}

/* Contact Title */
footer > h1{
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 55vw;
    align-self: center;
    background-color: #FFC100;
    padding: 12px;
}

.email-icon{
   font-size: 28px;
}

footer > p{
   margin-top: 2px;
   font-size: large;
}

/* marking footer items display in a row */
footer > span{
   display: flex;
   flex-direction: row;
}

/* icons */
.social-icons{
   margin-left: 35px;
   margin-right: 35px;
   text-decoration: dashed;
   color: black  
}

/* Main page media screen */

/* Tablet Screen */
@media screen and (min-width: 768px){
   .main-recipes-div > p{
      padding-left: 15px;
      padding-right: 15px;
      
   }
}

/* Laptop and Desktop Screen */
@media screen and (min-width: 992px){
   .recipes-section{
      display: flex;
      flex-direction: row;
   }

   .main-recipes-div{
      width: 33%;
      margin: 15px;
   }

   .main-recipes-div p{
      text-align: center;
   }

   .recipe-title{
      width: 40%;
   }

   footer > h1{
      width: 40%;
   }

   .social-icons{
      margin-left: 45px;
      margin-right: 45px;
   }
}

