@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

body{
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: whitesmoke;
}

h1, h3{
    font-family: "Roboto Slab", serif;
}

nav{
    display: flex;
    justify-content: space-around;
     
}
 nav > a{
    text-decoration: none;
    padding: 8px;
    font-size: 22px;
 }

 header > img{
    width: 100%;
 }

 header > p{
    padding-left: 20px;
    padding-right: 20px;
 }

 .recipe-title{
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 55vw;
    align-self: center;
 }

 .recipe-title > h1{
    margin: 14px;
 }